$center: 0 auto;

//Widths/heights
$contentWidth: 980px;
$bannerFooterWidth: 1280px;
$footerHeight:100px;
$bannerHeight:500px;
$homeFormWidth: 818px; 

//Site Colors
$commonBlue: #79ADDC;
$commonWhite: white;
$commonBlack: black;

//Buttons
$commonRadius: 5px;